#threadBox {
  text-align: center;
  border: 1px solid #000000;
  width: 1240px;
}
#formBox {
  height: 300px;
  width: 100px;
  border: 1px solid #000000;
}
#container {
  margin: 30px;
}
.table {
  text-align: left;
  padding: 20px;
}
